body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	background: oldlace;
}

@media (max-width: 500px) {
	#knowledge {
		height: 40%;
		width: 100%;
	}
	.title {
		height: 50%;
	}
	td {
		display: block;
	}

	table {
		display: block;
		overflow-x: auto;
	}

	.desc {
		display: initial;
	}

	#projects {
		height: 100%;
	}

	#contact {
		height: 100%;
	}

	.proj-list, .proj-list-2, .proj-list-center {
		display: block;
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}

	.title-top {
		font-size: 60px;
		width: 100%;
		display: block;
		height: 100%;
	}

	.typed-cursor {
		display: none;
	}

	.down-arrow {
		margin-top: 60%;
	}


}

.title {
	margin: 0 auto;
	text-align: center;
	width: 100%;
	height: 75px;
	color: #0E2430;
	opacity: 0.5;
}

.title-top {
	font-family: 'Lato', sans-serif;
	margin-top: 12%;
	margin-bottom: 15%;
}

.title-words {
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	max-width: 75%;
	margin-top: 5%;
	margin-bottom: 5%;
	color: black;
}

.title-words p {
	font-size: 20px;
}

.down-arrow {
	width: 100%;
	height: 75px;
	text-align: center;
}

#triangle {
    display: inline-block;
    border-right: 5px solid; 
    border-bottom: 5px solid;
    width: 40px; height: 40px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    color: #0E2430;
    opacity: 0.5;
}

.navbar-header a {
	float: right;
}

.navbar-link {
	padding: 10px;
	display: inline-block;
}

#main {
	height: 100%;
	width: 100%;
	color: white;
	padding-top: 100px;
	background-repeat: round;
	background: oldlace;
}

.title {
	margin: 0 auto;
	text-align: center;
	font-size: 3em;
}

.college {
	font-size: 1.5em;
	text-align: center;
}

.left {
	width: 50%;
	float: left;
}

.classes {
	text-align: center;
}

#projects {
	width: 100%;
	padding-top: 70px;
	font-family: "Lato", sans-serif;
}

#projects p {
	font-size: 20px;
}

td {
	max-width: 475px;
}

@media (min-width: 500px) {
	.proj-list, .proj-list-2, .proj-list-center {
		width: 50%;
		display: inline-block;
	}
	.title-top {
		max-width: 75%;
		display: inline-block;
		font-size: 70px;
	}
	
	.down-arrow {
		margin-top: 30%;
	}
}

.proj-list {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	margin-top: 2%;
	float: right;
}


.proj-list-2 {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	margin-top: 2%;
	float: left;
}

.proj-list-center {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	margin-top: 2%;
}

.proj-list li, .proj-list-2 li, .proj-list-center li {
	list-style: none;
	font-size: 2em;
}

.proj-list img, .proj-list-2 img, proj-list-center li {
	height: 150px;
	max-width: 300px;
}

a {
	text-decoration: none;
}

#contact img {
	max-height: 75px;
	margin: 25px;
}

@-webkit-keyframes shake {
	0% { -webkit-transform:		translate(2px, 1px) rotate(0deg);}
	10% { -webkit-transform:	translate(-1px, -2px) rotate(-2deg);}
	20% { -webkit-transform:	translate(-3px, 0px) rotate(3deg);}
	30% { -webkit-transform:	translate(0px, 2px) rotate(0deg);}
	40% { -webkit-transform:	translate(1px, -1px) rotate(1deg);}
	50% { -webkit-transform:	translate(-1px, 2px) rotate(-1deg);}
	60% { -webkit-transform:	translate(-3px, 1px) rotate(0deg);}
	70% { -webkit-transform:	translate(2px, 1px) rotate(-2deg);}
	80% { -webkit-transform:	translate(-1px, -1px) rotate(4deg);}
	90% { -webkit-transform:	translate(2px, 2px) rotate(0deg);}
	100% { -webkit-transform:	translate(1px, -2px) rotate(-1deg);}

}

#contact img:hover {
	-webkit-animation-name: shake;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-	count: infinite;
	-webkit-animation-timing-	function: linear;
	-webkit-transform-origin: 50% 100%;
}

#contact {
	height: 20%;
	width: 100%;
	float: left;
}

.links {
	margin: 0 auto;
	text-align: center;
	display: block;
	width: 100%;
}

#knowledge {
	height: 70%;
	width: 100%;
	padding-top: 70px;
	font-family: "Lato", sans-serif
}

.desc {
	width: 50%;
	margin: 0 auto;
	margin-top: 2.5%;
}

.desc-right {
	float: right;
	width: 50%;
	text-align: center;
}

.desc-right li, .desc-left li {
	list-style: none;
	font-size: 1.25em;
}

ul {
	padding-left: 0;
}

.desc-left {
	float: left;
	width: 50%;
	text-align: center;
}

.desc-left p, .desc-right p {
	font-size: 1.5em;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}