body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;

}

@media screen and (max-width: 500px) {
	#knowledge {
		height: 40%;
		width: 100%;
	}
}

.title-words {
	margin: 0 auto;
	text-align: center;
	font-size: 50px;
	font-family: 'Montserrat', sans-serif;
	max-width: 75%;
	margin-top: 15%;
	margin-bottom: 15%;
}

.title-words p {
	font-size: 30px;
}

.arrow-wrap {
  position:absolute;
  z-index:1;
  left:50%;
  margin-left:-4em;
  background:white;
  padding:3em 2em;
  border-radius:50%;
  font-size:0.5em;
  display:block;
  box-shadow:0px 0px 1px 0px #333;
}

.arrow {
  float:left;
  position:relative;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 2em 2em 0 2em;
  border-color: black transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}

.arrow:after {
  content:'';
  position:absolute;
  top:-3.2em;
  left:-3em;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: white transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}

#main {
	height: 80%;
	width: 100%;
}

.title {
	margin: 0 auto;
	text-align: center;
	font-size: 3em;
}

.college {
	font-size: 1.5em;
	text-align: center;
}

.left {
	width: 50%;
	float: left;
}

.classes {
	text-align: center;
}

#projects {
	height: 100%;
	width: 100%;
}

.proj-list {
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

.proj-list li {
	list-style: none;
	font-size: 2em;
}

.proj-list img {
	max-width: 300px;
}

a {
	text-decoration: none;
}

#contact img {
	max-height: 75px;
	padding: 25px;
}

#contact {
	height: 20%;
	width: 100%;
}

.links {
	margin: 0 auto;
	text-align: center;
	display: block;
}

#knowledge {
	height: 70%;
	width: 100%;
}

.desc {
	width: 50%;
	margin: 0 auto;
	margin-top: 2.5%;
}

.desc-right {
	float: right;
	width: 50%;
	text-align: center;
}

.desc-right li, .desc-left li {
	list-style: none;
	font-size: 1.25em;
}

ul {
	padding-left: 0;
}

.desc-left {
	float: left;
	width: 50%;
	text-align: center;
}

.desc-left p, .desc-right p {
	font-size: 1.5em;
}