<link href="/static/css/style.css" type="text/css" rel="stylesheet">
<section id="main">
	<div class="title-words">
		Steven McKinless
		<p>Hi! I'm a freshman at Northeastern University and majoring in Business and Computer Science.</p>
	</div>
	<div>
		<a class="arrow-wrap" href="#knowledge">
		<span class="arrow"></span>
		</a>
	</div>
</section>
<!-- <section id="edu">
	<div class="title">
		Education
	</div>
	<p class="college">Northeastern University</p>
	<div class="left">
		<p class="college">Classes</p>
		<p class="classes">Fall 2015</p> 
		<p class="classes">Fundamentals of Computer Science 1</p>
		<p class="classes">Spring 2016</p> 
		<p class="classes">Fundamentals of Computer Science 2</p>
		<p class="classes">Discrete Structures</p>
	</div>
</section> -->
<section id="knowledge">
	<div class="title">
		Knowledge/Skills
	</div>
	<div class="desc">
		<div class="desc-left">
			<p>Languages</p>
			<ul>
				<li>Python</li>
				<li>HTML/CSS</li>
				<li>Javascript</li>
				<li>SQL</li>
			</ul>
		</div>
		<div class="desc-right">
			<p>Technologies</p>
			<ul>
				<li>Flask</li>
				<li>MongoDB</li>
				<li>Heroku</li>
				<li>Git</li>
			</ul>
		</div>
	</div>
</section>
<section id="projects">
	<div class="title">
		Projects
	</div>
	<ul class="proj-list">
		<li>
			<a href="http://convertz.herokuapp.com"><p>Conversion App</p></a>
		</li>
		<p>A conversion application I created with a partner that will take in temperature, distance, and volumes and return the desired conversion</p>
		<img src="/static/img/input-convert.jpg">
		<img src="/static/img/convertz.jpg">
		<img src="/static/img/converted.jpg">
		<li>
			<a href="http://college-lookup.herokuapp.com"><p>College Lookup App</p></a>
		</li>
		<p>An application I created that allows a user to search a college and returns the logo, name, location, acceptance rate, SAT score, and ACT score of the college</p>
		<img src="/static/img/college.jpg">
		<img src="/static/img/college-front.jpg">
		<img src="/static/img/college2.jpg">


	</ul>
</section>
<section id="contact">
	<div class="title">
	</div>
	<div class="links">
		<a href="mailto:smckinless@gmail.com"><img src="/static/img/email.jpg"></a>
		<a href="http://github.com/smckinless"><img src="/static/img/github.jpg"></a>
		<a href="https://www.linkedin.com/in/stevenmckinless"><img src="/static/img/linkedin.jpg"></a>
		<a href="/static/resume.pdf"><img src="/static/img/resume.jpg"></a>
	</div>
</section>